small {
  /* color; red; keyword / text */
  /* color; #ff0000: hex code 0 to 9 a to f */
  /* color; #f00; short hex code */
  /* rgb (red,green,blue) 0 to 225 */
  color: rgb(225, 0, 0);
  text-transform: uppercase;
  word-spacing: 15px;
  letter-spacing: 2px;
  line-height: 40px;
}
